@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ensure the full page takes 100% height */
html, body, #root {
  height: 100%;
  margin: 0;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}
